html, body {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alertSweetAlert{
  font-weight: 300;
   z-index: 99999 !important;
}

.apexcharts-text.apexcharts-xaxis-label {
  fill: #fff !important;
}

.apexcharts-text.apexcharts-yaxis-label {
  fill: #fff !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #afafaf; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #525252; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #afafaf #1a1a1a;
}